html {
	height: 150vh;
	width: 100%;
}

span {
	color: pink;
	font-size: 18px;
	margin-top: 40px;
	display: inline-block;
}

.red {
	background-color: rgba(255, 0, 0, 0.5);
}

.green {
	background-color: rgba(0, 255, 0, 0.5);
}

.button {
	padding: 8px 32px;
	font-size: 18px;
	border-radius: 6px;
	border: solid 1px #000000;
	cursor: pointer;
}

.button:hover {
	opacity: 0.5;
}

.button:focus {
	outline: 3px solid green;
}

.button--default {
	background-color: #ddd;
	color: #333;
	border: solid 1px #000000;
}

.button--success {
	background-color: #e8ffdb;
	color: #1f9108;
	border: solid 1px #075a11;
}

.button--error {
	background-color: #ffcccc;
	color: #9e1010;
	border: solid 1px #5a0707;
}

.button--small {
	padding: 6px 18px;
	font-size: 12px;
}

.container {
	position: relative;
	display: block;
	width: 200px;
	height: 1%;
	background-color: red;
}

.left {
	position: sticky;
	bottom: -50px;
	right: -50px;
	width: 100px;
	height: 100px;
	background-color: yellow;
}
